
body
{
    background-color: blue;
    color: cornsilk;
    height: 6000px;
}

h2
{
color: aliceblue;
}

/*------------------------------------*/
/*------icono_menu------------------*/

#uno
{
    width: 50px;
    height: 50px;
    margin-left: 80%;
    margin-top: 30px;
    border: .1px solid purple;
    border-radius: 50%;
    *background-color: darkslateblue;
    position: fixed;
    z-index: 1000;
    
}

@media (min-width: 900px) 
{
  #uno
    {
    width: 50px;
    height: 50px;
    margin-left: 81.6%;
    margin-top: 1px;
    border: 2px solid purple;
    border-radius: 50%;
    *background-color: deepskyblue;
    *position: fixed;
    z-index: 1000;
    
    }
   }


   @media (min-width: 1200px) 
   {
     #uno
       {
       width: 50px;
       height: 50px;
       margin-left: 81.6%;
       margin-top: 1px;
       border: 2px solid purple;
       border-radius: 50%;
       *background-color: deepskyblue;
       *position: fixed;
       z-index: 1000;
       
       }
      }




/*-------------------------------------*/
/*-------imagendelicono-----------------------------*/


#ini29
{
    height: 60px;
    width: 60px;
    border: 1px solid none;
    border-radius: 50%;
    position: absolute;
    z-index: 1000; 
    margin-left: -10%;
    margin-top: -5px;
    
}


@media (min-width: 900px)
{
    
#ini29
{
    height: 100px;
    width: 100px;
    border: 1px solid none;
    border-radius: 50%;
    position: fixed;
    z-index: 1000; 
    margin-left: -6%;
    margin-top: -70px; 
    
}
}

@media (min-width: 1200px)
{
    
#ini29
{
    height: 130px;
    width: 130px;
    border: 1px solid none;
    border-radius: 50%;
    position: fixed;
    z-index: 1000; 
    margin-left: -3%;
    margin-top: -10px; 
    
}
}



/*----------------------------------------------------*/
/*------------------------------------*/


#uno1
{
    
    width: 320px;
    height: 590px;
    
    background-color: rgb(72, 72, 209);
    border: 2px solid none;
    border-radius: 5px;
    position: fixed;
    
    margin-top: -23px;
    margin-left: -20px;
    display: none;
    grid-template-columns: auto;
    z-index: 1000;
    
}


@media (min-width: 900px) 
{
  #uno1
    {
    
    width: 780px;
    height: 800px;
    
   background-color: rgb(75, 75, 231);
    border: 2px solid none;
    border-radius: 5px;
    position: fixed;
    
    margin-top: -50px;
        margin-left: -30px;
    display: none;
    grid-template-columns: auto;
    z-index: 1000;    
    
    
    }
   }


   @media (min-width: 1200px) 
   {
     #uno1
       {
       
       width: 580px;
       height: 600px;
       color: cornsilk;
       background-color: rgba(231, 75, 197, 0.123);
       border: 2px solid none;
       border-radius: 5px;
       position: fixed;
       
       margin-top: 0px;
       margin-left:350px;
       display: none;
       grid-template-columns: auto;
       z-index: 1000;    
       
       
       }
      }



/*-------------------------------------*/
/*------------------------------------*/



/*------------------------------------*/
/*--------lista del menu----------------------------*/


#ul08
{
    width: 300px;
    height:620px;
    margin: auto;
    margin-top: 0px;
    margin-left: 10px;
   
    border: 2px solid rgb(237, 13, 245);
    border-radius: 10px;
    
    list-style: none;
    display: block;
    text-align: middle;
    list-style: none;
    
    vertical-align: 50px;
    *overflow: scroll;
    
}


@media (min-width: 900px) 
{
  #ul08
    {
    width: 560px;
    height:1750px;
    margin: auto;
    margin-top: 1px;    
    
    border: 2px solid rgb(195, 5, 186);
    border-radius: 10px;
    
    list-style: none;
    display: block;
    text-align: middle;
    list-style: none;
    
    
    
   *overflow: scroll;
    
    }
   }


   @media (min-width: 1200px) 
   {
     #ul08
       {
       width: 560px;
       height:600px;
       margin: auto;
       margin-top: 1px; 
       margin-left: 10px;   
       padding: 1px;
       border: 2px solid rgb(195, 5, 186);
       border-radius: 10px;
       
       list-style: none;
       display: block;
       text-align: center;
       vertical-align: 100%;
       list-style: none;
       color: tomato;
       font-size: 20px;
       
       }
      }
   


/*-------------------------------------*/
/*------------------------------------*/






/*------------------------------------*/
/*------------------------------------*/

#ul08 li
{
    width: 190px;
    height: 50px;
    border: .3px solid white;
    border-radius:10px;
    margin-top: 3px;
    margin-left: 2px;
    vertical-align: 50px;
  
    *font-size: 29px;
    
    
    
}

@media (min-width: 900px) 
{
  #ul08 li
    {
    width: 250px;
    height: 70px;
    border: .3px solid white;
    border-radius:10px;
    margin-top: 3px;
    margin-left: 2px;
    vertical-align: 50px;
  
    *font-size: 29px;
   
    
    
    }
   }

   @media (min-width: 1200px) 
   {
     #ul08 li
       {
       width: 250px;
       height: 70px;
       border: .3px solid rgb(240, 200, 25);
       box-shadow:0 0 20px tomato;
       border-radius:10px;
       margin-top: 3px;
       margin-left: 82px;
       vertical-align: 50px;
       color: rgb(0, 255, 64);
       font-size: 29px;
      
       
       
       }
      }



/*-------------------------------------*/
/*------------------------------------*/

.li09 a 
{
    color: rgb(251, 140, 5);
    text-decoration: none;
    margin-top: 30px;
    font-family: unset;
    font-size: 35px;
}


@media (min-width: 1200px)
{
    .li09 a 
{
    color: rgb(181, 5, 251);
    text-decoration: none;
    margin-top: 30px;
    font-family: unset;
    font-size: 35px;
}
}







/*---------------------------------*/







img
{
    width: 1200px;
    height: 300px;
}

#av25
{
    width: 1400px;
    height: 100px;
    background-color: darkviolet;
    border: 3px solid white; 
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 0 20px rgb(236, 9, 217);
}


#av35
{
    width: 410px;
    height: 410px;
    background-color: rgba(41, 3, 102, 0.096);
    border: 2px solid rgb(255, 255, 255); 
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 0 20px rgb(236, 9, 217);
    color: rgb(230, 230, 1);
    margin-top: -410px;
}


av38
{
    width: 400px;
    height: 600px;
}


#av40
{
    width: 300px;
    height: 600px;
    color: aliceblue;
    font-size: 25px;
}

/*--------------------------------*/

#av141
{
    margin-top: 300px;
    width: 1400px;
     height: 300px;
       padding: 5px;
}



footer
{
    width: 1400px;
    height: 300px;
    text-align: center;
    color: rgb(255, 199, 16);
    background-color: rgba(12, 73, 241, 0.082);
    box-shadow:0 0 20px violet;
    border-radius: 3px;
    border: 2px solid blue;
    margin-top: -300px;
}

#av142
{
    margin-top: -500px;
    width: 1400px;
     height: 300px;
   
}


#av58
{
width: 1400px;
height: 100px;





}




#av60
{
width: 1400px;
height: 100px;
background-color: transparent;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

position: absolute;
left: 10%;
top: 15%;
transform: translate(-10%,-90%);
color: rgb(0, 81, 255);
font-size: 50px

}



#av85 /*----imagen----informativo*/
{
    width: 400px;
    height: 400px;
    padding-left: 7px;
}



#av29
{
width: 500px;
height: 300px;




}


#av131
{
width: 500px;
height: 300px;




}